[submodule "libs/spsc"]
	path = libs/spsc
	url = https://github.com/shpegun60/spsc
[submodule "libs/delegate"]
	path = libs/delegate
	url = https://github.com/shpegun60/delegate
[submodule "libs/stm32f1xx-hal-driver"]
	path = libs/stm32f1xx-hal-driver
	url = https://github.com/STMicroelectronics/stm32f1xx-hal-driver
[submodule "libs/cmsis-device-f1"]
	path = libs/cmsis-device-f1
	url = https://github.com/STMicroelectronics/cmsis-device-f1
[submodule "libs/stm32g4xx-hal-driver"]
	path = libs/stm32g4xx-hal-driver
	url = https://github.com/STMicroelectronics/stm32g4xx-hal-driver
[submodule "libs/cmsis-device-g4"]
	path = libs/cmsis-device-g4
	url = https://github.com/STMicroelectronics/cmsis-device-g4
